body{
  background-image: url(../images/chatgptloadpage.png);
    background-size:cover;
    text-align:center;
    background-position:0 0;
  background-repeat: no-repeat;
}

.sidebar{
  width: 0.5rem;
  height: 100%;
  background-color: 202123;
}

.div-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
}
#prompt-textarea {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 0.1rem;
    width: 50%;
    height: 0.1rem;
}
