body{
  background-image: url(../images/chatgptloadpage.png);
    background-size:cover;
    text-align:center;
    background-position:0 0;
  background-repeat: no-repeat;
}

.sidebar{
  width: 0.5rem;
  background-color: 202123;
}
